{{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container" id="contact">
        <br>
        <br>
        <br>
        <br>
        <br>
<h1>About us </h1>
    <br>
    <br>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0">What we do ?</h5>
    <p>Diabetes is a chronic health problem with devastating, yet preventable consequences.</p> 
    <p>It is characterized by high blood glucose levels resulting from defects in insulin production, insulin action, or both.</p>
    <p>Regarding its cure, major challenge faced by healthcare organizations (hospitals, medical centres) is the provision of quality services at affordable costs.</p>
    <p>To minimize the cost of clinical tests we have designed a system.</p>
    <p> System will take information from the user and will use that and datasets by machine learning approaches to prognosticate the likelihood of diabetes in patients with maximum accuracy.</p>
    <p>User will also have the option to consult Endocrinologist (Doctor with expertise in diabetes) using the app.</p>
     <br>
  <br>
   <br>
  </div>
 
</div>

</div>

{% endblock body %}
