{{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<div class="container" id="contact">
        <br>
        <br>
        <br>
        <br>
        <br>
<h1>Contact us </h1>
    <br>
    <br>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0">Diabetes Predictor Team</h5>
    <p>Email  : Syedshehryar0227@gmail.com</p>
    <p>Contact Number : +923164834945</p>
    <p>PO Box : 2345</p>
    <p>Address : office no , street no , road , area , Lahore</p>
     <br>
  <br>
   <br>
  <br>
   <br>
  </div>
 
</div>

</div>

{% endblock body %}
